@font-face {
  font-family: 'Inter', sans-serif;
  src: url('https://www.nibor.se/fonts/Inter-Light-BETA.woff2') format('woff2'),
    url('https://www.nibor.se/fonts/Inter-Light-BETA.woff') format('woff');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Inter', sans-serif;
  src: url('https://www.nibor.se/fonts/Inter-Regular.woff2') format('woff2'),
    url('https://www.nibor.se/fonts/Inter-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Inter', sans-serif;
  src: url('https://www.nibor.se/fonts/Inter-Medium.woff2') format('woff2'),
    url('https://www.nibor.se/fonts/Inter-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Inter', sans-serif;
  src: url('https://www.nibor.se/fonts/Inter-SemiBold.woff2') format('woff2'),
    url('https://www.nibor.se/fonts/Inter-SemiBold.woff') format('woff');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Inter', sans-serif;
  src: url('https://www.nibor.se/fonts/Inter-Bold.woff2') format('woff2'),
    url('https://www.nibor.se/fonts/Inter-Bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Poppins', sans-serif;
  src: url('https://www.nibor.se/fonts/Poppins-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Poppins', sans-serif;
  src: url('https://www.nibor.se/fonts/Poppins-SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Poppins', sans-serif;
  src: url('https://www.nibor.se/fonts/Poppins-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
